<!-- Why Choose Us Start -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="mb-4 mb-lg-0">
          <div class="p-2 bg-soft-primary d-inline-block rounded mb-4">
            <div class="icon-xxl uim-icon-primary"><span class="uim-svg"><svg xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24" width="1em">
                  <polygon class="uim-primary" points="12 12.3 3.5 7.05 12 1.8 20.5 7.05 12 12.3"></polygon>
                  <polygon class="uim-quaternary" points="12 22.2 12 12.3 20.5 7.05 20.5 16.95 12 22.2"></polygon>
                  <polygon class="uim-tertiary" points="12 22.2 3.5 16.95 3.5 7.05 12 12.3 12 22.2"></polygon>
                </svg></span>
            </div>
          </div>
          <h3 class="">Why Choose Us ?</h3>
          <p class="text-muted mb-4">Unlimited consultation for Allopathy, Ayurveda, Homeopathy with trained doctors at your doorsteps.</p>
          <p class="text-muted mb-4">Free delivery of medicines and free blood test collections at your doorstep.</p>
          <p class="text-muted mb-4">We provide Best Yearly Family Plan to Suit the needs of yearly healthcare expenses & also preventive solution .</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
              <div class="wc-box-icon">
                <i class="mdi mdi-account"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Professional Doctors</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">Certified Professional doctors from Allopathy, Ayurveda & Homeopathy</p>
            </div>
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-medical-bag"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Medicine & Diagnostic At your Doorstep</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">We deliver all kind of medicines and diagnostic test at your doorsteps.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-trending-up"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Track your Progress</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">To assure your good health we keep track on your reports and take regular follow-ups if required.</p>
            </div>
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-database-lock"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Electronic Medical Records</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">All Medical Records in Electronic Wallet Accessible anytime anywhere</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose Us End -->
