<section class="testimonials py-5  px-1 px-md-5 margin-top-xl">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="pt-2 text-center font-weight-bold">Our Customers Are Seeing Big Results</h2>

        <div class="carousel-controls testimonial-carousel-controls">
          <div class="control d-flex align-items-center justify-content-center prev mt-3"><i class="fa fa-chevron-left"></i></div>
          <div class="control d-flex align-items-center justify-content-center next mt-3"><i class="fa fa-chevron-right"></i></div>

          <div class="testimonial-carousel">
            <div class="h5 font-weight-normal one-slide mx-auto">
              <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                <div class="message text-center blockquote w-100">"We have purchased this plan 2 Months back & we are really thankful to Plan My Health Team who gives prompt doctor consultation & also help un lot of wellness activities like mental health & diet plans."</div>
                <div class="blockquote-footer w-100 ">Shah Family , Pune </div>
              </div>
            </div>
            <div class="h5 font-weight-normal one-slide mx-auto">
              <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                <div class="message text-center blockquote w-100">"We are really happy with Plan My Health Services they have prompt response & authentic doctor team."</div>
                <div class="blockquote-footer w-100 ">Mehta Family , Mumbai</div>
              </div>
            </div>
            <div class="h5 font-weight-normal one-slide mx-auto">
              <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                <div class="message text-center blockquote w-100">We have found right health partner in terms of our employee health , we given this plan to all our employees & found that they are assured of right guidance for their health issues.</div>
                <div class="blockquote-footer w-100 ">Oval tech , HR – Urvashi</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Pricing Start -->
<section class="section bg-light" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">A Complete Wellness Plan For Your Family</h3>
          <p class="text-muted font-size-15">Its a complete annual Home-based virtual GP Doctor wellness plan for your loved ones</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-account h1"></i>
          </div>
          <h4 class="title mb-3">Basic</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">₹</sup> 399  </b></h1>
          <p class="text-muted font-weight-semibold">Per Person / Per Year</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Online GP Doctor Consultation - 1</li>
            <li class="text-muted">Ayurveda Consultation - 1</li>
            <li class="text-muted">Homeopathy Consultation - 1</li>
            <li class="text-muted">Medical Examination</li>
            <li class="text-muted">Diet Consultation & Diet Chart - 1</li>
            <li class="text-muted">Assistance on hospital admission</li>
            <li class="text-muted">Home visits by physio, Nurse, paramedic</li>
            <li class="text-muted">Health Claim Submission Assistance</li>
            <li class="text-muted">Electronic Records Management</li>
            <li class="text-muted">Health Content access</li>
            <li class="text-muted">Free Home Delivery of Medicaine Same Day (15% Discount)</li>
            <li class="text-muted">Free Home Blood Collection for Pathological Test</li>
          </ul>
          <a href="https://rzp.io/l/oAVXVON" target="_blank" class="btn btn-outline-primary pr-btn">Buy Now</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center active p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-account-multiple h1"></i>
          </div>
          <h4 class="title mb-3">Starter </h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">₹</sup>599 </b></h1>
          <p class="text-muted font-weight-semibold">Per Person / Per Year</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Online GP Doctor Consultation - 2</li>
            <li class="text-muted">Ayurveda Consultation - 2</li>
            <li class="text-muted">Homeopathy Consultation - 2 </li>
            <li class="text-muted">Medical Examination , Complete Blood Check (CBC ) , Diabetes Check</li>
            <li class="text-muted">Diet Consultation & Diet Chart - 1</li>
            <li class="text-muted">Assistance on hospital admission</li>
            <li class="text-muted">Home visits by physio, Nurse, paramedic</li>
            <li class="text-muted">Health Claim Submission Assistance</li>
            <li class="text-muted">Electronic Records Management</li>
            <li class="text-muted">Health Content access</li>
            <li class="text-muted">Free Home Delivery of Medicaine Same Day (15% Discount)</li>
            <li class="text-muted">Free Home Blood Collection for Pathological Test</li>
            <li class="text-muted">Dental Voucher for scaling & Cleaning - 1 </li>
            <li class="text-muted">Psychologcial Consultation - 1</li>
          </ul>
          <a href="https://rzp.io/l/5GOnvcV" target="_blank" class="btn btn-primary pr-btn">Buy Now</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-account-group h1"></i>
          </div>
          <h4 class="title mb-3">Pro</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">₹</sup>999</b></h1>
          <p class="text-muted font-weight-semibold">Per Person / Per Year</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Online GP Doctor Consultation - Unlimited</li>
            <li class="text-muted">Ayurveda Consultation - Unlimited</li>
            <li class="text-muted">Homeopathy Consultation - Unlimited</li>
            <li class="text-muted">Medical Examination , Complete Blood Check (CBC ) , Diabetes Check , Lipid & Cholestrol Profile</li>
            <li class="text-muted">Diet Consultation & Diet Chart - 2</li>
            <li class="text-muted">Assistance on hospital admission</li>
            <li class="text-muted">Home visits by physio, Nurse, paramedic  at Discounted Rates</li>
            <li class="text-muted">Health Claim Submission Assistance</li>
            <li class="text-muted">Electronic Records Management</li>
            <li class="text-muted">Health Content access</li>
            <li class="text-muted">Free Home Delivery of Medicaine Same Day (15% Discount)</li>
            <li class="text-muted">Free Home Blood Collection for Pathological Test</li>
            <li class="text-muted">Dental Voucher for scaling & Cleaning - 2 </li>
            <li class="text-muted">Psychologcial Consultation - 2</li>
            <li class="text-muted">Accidental Insurance upto 1 Lac</li>
          </ul>
          <a href="https://rzp.io/l/Y8nDA7G" target="_blank" class="btn btn-outline-primary pr-btn">Buy Now</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="text-center mb-5">
        <h3 class="title mb-3">Frequently Asked Questions</h3>
      </div>
    </div>
  </div>
  <div class="row">
      
    <div class="col">
      
      <div class="tabs">
        <div class="tab">
          <input type="radio" id="rd1" name="rd">
          <label class="tab-label" for="rd1">Who can buy Health Plan from Plan My Health.</label>
          <div class="tab-content">
            This plan is for everyone like Individual, Families & Groups like Corporate , Society & Government .
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd2" name="rd">
          <label class="tab-label" for="rd2">Why I should buy Health Plan From Plan My Health ?</label>
          <div class="tab-content">
            India’s First Family Health Plan covers all your out of pocket healthcare expenses worries like doctor consulting , wellness , home delivery of medicine & home collection for medical test under 1 roof. We also deliver value add services like home healthcare, Health claim assistance, Medical Record Management & Hospitalization assistance.
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd3" name="rd">
          <label class="tab-label" for="rd3">How do we have to pay for this plan ?</label>
          <div class="tab-content">
            Our Health Plan comes with annual subscription its 1 time prepaid plan , Pay once & enjoy hassle free health services through out the year 
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd4" name="rd">
          <label class="tab-label" for="rd4">How to renew plan or add more members to the plan ?</label>
          <div class="tab-content">
            We have a simple process to renew through a online remewal process & also for any addition for any members we have an online addition or deletion process.
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd5" name="rd">
          <label class="tab-label" for="rd5">How much will I Save with Plan My Health?</label>
          <div class="tab-content">
            You will be saving more than 75% over your healthcare expenses & will also keep track of your health insurance policy record to guide you if you claim certain expenses from insurance companies.
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd6" name="rd">
          <label class="tab-label" for="rd6">What is health content access? orWhat does it mean?
            </label>
          <div class="tab-content">
            It will be not just blogs written by our health experts which can be accessed at free of cost for our members here any of our members can ask for advice for their health.
          </div>
        </div>
        
        <div class="tab">
          <input type="radio" id="rd14" name="rd">
          <label class="tab-label" for="rd14">How does Home collection for pathological test works & what kind of discounts will I get on it ?</label>
          <div class="tab-content">
            We cover certain test at the start of the plan for which members have to pay zero cost .above that if any of the test required for further investigation then you will be getting upto 30% discount & also home collection in certain cities .
          </div>
        </div>
        
       
        
      </div>
    </div>

    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="radio" id="rd8" name="rd">
          <label class="tab-label" for="rd8">What do you mean by hospital admission assistance?</label>
          <div class="tab-content">
            There will be an expert who will guide our members in the case of emergencies required for Doctors and Hospitalization
Our expert team can guide you for the entire process & suggest some good name for the hospitalization.
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd9" name="rd">
          <label class="tab-label" for="rd9">What do you mean by health claim Assistance?</label>
          <div class="tab-content">
            Here for eg if our client is hospitalised and want to claim for their medical expenses then our health claim department will help with the entire process.
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd10" name="rd">
          <label class="tab-label" for="rd10">How many times we can consult to dietitian and diet chart ?</label>
          <div class="tab-content">
            You will be consulted at first level to create a customized diet chart for your health & we will do a post recall in certain plan for some modification if required.
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd11" name="rd">
          <label class="tab-label" for="rd11">Accidental insurance will be inclusive or we have to pay?</label>
          <div class="tab-content">
            Accidental insurance will be inclusive only in the plan of 999 we will give upto 1lakh of insurance.
            Which will finish as the member get over 
            That means it will be on yearly basis.            
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd12" name="rd">
          <label class="tab-label" for="rd12">Is both the times dental checkup’s free </label>
          <div class="tab-content">
            Yes for particular things only like scaling or cleaning that to depends on plan if you take 599 then it will once and if it is 999 it will be for two times.
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd13" name="rd">
          <label class="tab-label" for="rd13">Is prescription important for doorstep medicine & how home delivery of medicine works?</label>
          <div class="tab-content">
            If you are consulting through our doctor team then you will get an automated prescription copy from us & in case of your doctor prescribed medicine required then we will expect you to share the copy of it for our records.Our pharmacist will deliver you all kind of medicine based on your prescription to your doorstep within some specified cities as of now .
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd7" name="rd">
          <label class="tab-label" for="rd7">How does electronic records work and how safe is it?</label>
          <div class="tab-content">
            Yes, electronic records are completely safe it is made by keeping all the privacy in our mind. All the reports or doctor’s appointment are updated and kept saved in this feature.
&  to access this you get a login id for safety.
          </div>
        </div>
        </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/healthcon.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
      <div class="col-lg-5">
        <h3 class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>
            Managed Healthcare for Corporate and Groups        </h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">We offer these plans to Corporate & Companies at bulk discount wherein your employees can be covered with future health risk with this plan . We offer best in healthcare & wellness solution in terms of Consultation , Diagnostic Check ,Wellness Activities & Medicine at your doorstep.  For a tailer made solution for your company write to info@planmyhealth.in or call 8104165150 </p>
        <!-- <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div> -->
      </div>
      
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <h3 class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>
            Business Partnership or  Associate Enquiry       </h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">For any busines partnership on revenue sharing please connect our Business partnership team : 9372152613 info@planmyhealth.in</p>
        <!-- <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div> -->
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/business.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- Pricing End -->
