<!-- Contact Us Start -->
<section class="section bg-light" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">Contact Us</h3>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="custom-form mb-5 mb-lg-0">
          <div id="message"></div>
          <form [formGroup]="ContactForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Name*</label>
                  <input id="name" type="text" class="form-control" formControlName="name" autocomplete="off" placeholder="Your name...">
                </div>
                <div *ngFor="let error of errorMessages.name">
                  <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                    <small class="error-message margin7px">{{error.message}}</small>
                  </ng-container>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email Address*</label>
                  <input id="email" type="email" class="form-control" formControlName="email" autocomplete="off" placeholder="Your email...">
                </div>
                <div *ngFor="let error of errorMessages.email">
                  <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                    <small class="error-message margin7px">{{error.message}}</small>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="number">PhoneNumber*</label>
                  <input id="number" type="number" class="form-control" formControlName="phonenumber"  autocomplete="off" placeholder="Your Mobile Number...">
                </div>
                <div *ngFor="let error of errorMessages.phonenumber">
                  <ng-container *ngIf="phonenumber.hasError(error.type) && (phonenumber.dirty || phonenumber.touched)">
                    <small class="error-message margin7px">{{error.message}}</small>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="comments">Message*</label>
                  <textarea id="comments" rows="4" class="form-control" formControlName="message"  placeholder="Your message..."></textarea>
                </div>
                <div *ngFor="let error of errorMessages.message">
                  <ng-container *ngIf="message.hasError(error.type) && (message.dirty || message.touched)">
                    <small class="error-message margin7px">{{error.message}}</small>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="button"  [disabled]="!ContactForm.valid" (click)="submit()" class="btn btn-primary">Send Message <i-feather class="icon-size-15 ml-2 icon"
                    name="send"></i-feather></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="contact-detail text-muted ml-lg-5">
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="mail"></i-feather> : <span>info@planmyhealth.in</span>
          </p>
          <p class="">
            <a href="tel:7303885730"><i-feather class="icon-xs icon mr-1" name="phone-call"></i-feather>(call) : <span>+91-7303885730</span></a>
          </p>
          <p class="">
            <a href="https://api.whatsapp.com/send?phone=+918356928929&text=hi" target="_blank"><i-feather class="icon-xs icon mr-1" name="phone-call"></i-feather>(whatsapp) : <span>(+91) 8356928929</span></a>
          </p>
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="clock"></i-feather> : <span>9:00 AM - 9:00 PM</span>
          </p>
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="map-pin"></i-feather> : <span>1201 , B wing Revona , Hiranandani

              Kandivali West , Mumbai</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->
