/* Template Name: Lezir - Responsive Bootstrap 4 Landing Page Template
   Author: Themesbrand
   Version: 1.0.0
   File Description: Main Css file of the template
*/
/**********************
01.General
02.Menu
03.Components
04.Helper
05.Loader
06.Hero
07 Why Choose Us
08.Features
09.Pricing
10.Contact
11.Footer
12.modal
***********************/
/* 
// variables.scss
*/
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,600;0,700;0,800;1,400;1,500&family=Quicksand:wght@400;500;600;700&display=swap");
/* 
// 1. General
*/
a {
  text-decoration: none !important;
  outline: none;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #3b3950;
  background: #ffffff;
  font-weight: 500;
}

p {
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

/* 
// 2. Menu
*/
.nav-item .nav-link {
  display: inline-block;
  color: #3b3950;
  text-decoration: none;
  font-family: "Muli", sans-serif;
}

.navbar-custom {
  padding: 14px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

.navbar-custom .logo .logo-dark {
  display: none;
}

.navbar-custom .logo .ligo-light {
  display: inline-block;
}

.navbar-custom .navbar-nav li a {
  line-height: 26px;
  color: rgba(59, 57, 80, 0.7);
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 20px;
}

.navbar-custom .navbar-nav li:last-child a {
  margin-right: 0px;
}

.navbar-custom .navbar-nav li .nav-link {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:active {
  color: #5a4fdc !important;
}

.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  color: #fff;
  outline: 0;
}

.navbar-custom .logo .logo-dark {
  display: inline-block;
}

.navbar-custom .logo .logo-light {
  display: none;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #fff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #5a4fdc;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

.navbar-light .navbar-nav li a {
  color: rgba(255, 255, 255, 0.6) !important;
}

.navbar-light .navbar-nav li.active a, .navbar-light .navbar-nav li a:hover, .navbar-light .navbar-nav li a:active {
  color: #fff !important;
}

.navbar-light .logo .logo-dark {
  display: none;
}

.navbar-light .logo .logo-light {
  display: inline-block;
}

.navbar-light .nav-link:after {
  background: transparent;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-nav li.active a,
.navbar-light .navbar-nav li a:hover,
.navbar-light .navbar-nav li a:active {
  color: #fff !important;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  color: #000 !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky.navbar-custom .navbar-nav {
  margin-top: 0px;
}

.nav-sticky.navbar-custom .navbar-nav li a {
  color: #8c8aac !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a, .nav-sticky.navbar-custom .navbar-nav li a:hover, .nav-sticky.navbar-custom .navbar-nav li a:active {
  color: #5a4fdc !important;
}

.nav-sticky .logo .logo-dark {
  display: inline-block !important;
}

.nav-sticky .logo .logo-light {
  display: none !important;
}

.navbar-toggler:focus {
  outline: none;
}

@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    margin-top: 0px;
    background-color: #fff !important;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    color: #fff !important;
  }
  .navbar-custom .navbar-nav {
    margin-top: 0px;
  }
  .navbar-custom .navbar-nav li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #9e9cb9 !important;
    margin: 0px;
  }
  .navbar-custom .navbar-nav li.active a {
    border-color: transparent;
  }
  .navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:active {
    color: #5a4fdc !important;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-custom .logo .logo-dark {
    display: inline-block !important;
  }
  .navbar-custom .logo .logo-light {
    display: none !important;
  }
  .navbar-custom.navbar-light .navbar-nav li.active a, .navbar-custom.navbar-light .navbar-nav li a:hover, .navbar-custom.navbar-light .navbar-nav li a:active {
    color: #3b3950 !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #3b3950;
  }
  .navbar-collapse {
    padding: 0 20px;
  }
  .navbar-light .nav-item .nav-link:after {
    background: #3b3950;
  }
}

/* 
// 03.Components
*/
.btn {
  border-radius: 3px;
  padding: 12px 30px;
  font-size: 15px !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 700;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn.btn-lg {
  padding: 10px 22px !important;
  font-size: 18px !important;
}

.btn.btn-sm {
  padding: 8px 16px !important;
  font-size: 14px !important;
}

.btn.btn-primary {
  background-color: #5a4fdc !important;
  border: 1px solid #5a4fdc !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(90, 79, 220, 0.15);
          box-shadow: 0 4px 20px rgba(90, 79, 220, 0.15);
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active {
  background-color: #4e42d9 !important;
  border: 1px solid #4e42d9 !important;
  -webkit-box-shadow: 0 3px 10px rgba(90, 79, 220, 0.5);
          box-shadow: 0 3px 10px rgba(90, 79, 220, 0.5);
  color: #fff !important;
}

.btn.btn-outline-primary {
  border: 1px solid #5a4fdc !important;
  color: #5a4fdc !important;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary.focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary.active {
  background-color: #5a4fdc !important;
  border: 1px solid #5a4fdc !important;
  -webkit-box-shadow: 0 3px 10px rgba(90, 79, 220, 0.5);
          box-shadow: 0 3px 10px rgba(90, 79, 220, 0.5);
  color: #fff !important;
}

.btn.btn-soft-primary {
  background-color: rgba(90, 79, 220, 0.18) !important;
  color: #5a4fdc !important;
}

.btn.btn-secondary {
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(108, 117, 125, 0.15);
          box-shadow: 0 4px 20px rgba(108, 117, 125, 0.15);
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary.focus, .btn.btn-secondary:active, .btn.btn-secondary.active {
  background-color: #656d75 !important;
  border: 1px solid #656d75 !important;
  -webkit-box-shadow: 0 3px 10px rgba(108, 117, 125, 0.5);
          box-shadow: 0 3px 10px rgba(108, 117, 125, 0.5);
  color: #fff !important;
}

.btn.btn-outline-secondary {
  border: 1px solid #6c757d !important;
  color: #6c757d !important;
}

.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus, .btn.btn-outline-secondary.focus, .btn.btn-outline-secondary:active, .btn.btn-outline-secondary.active {
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
  -webkit-box-shadow: 0 3px 10px rgba(108, 117, 125, 0.5);
          box-shadow: 0 3px 10px rgba(108, 117, 125, 0.5);
  color: #fff !important;
}

.btn.btn-soft-secondary {
  background-color: rgba(108, 117, 125, 0.18) !important;
  color: #6c757d !important;
}

.btn.btn-success {
  background-color: #14cf9f !important;
  border: 1px solid #14cf9f !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(20, 207, 159, 0.15);
          box-shadow: 0 4px 20px rgba(20, 207, 159, 0.15);
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success.focus, .btn.btn-success:active, .btn.btn-success.active {
  background-color: #13c194 !important;
  border: 1px solid #13c194 !important;
  -webkit-box-shadow: 0 3px 10px rgba(20, 207, 159, 0.5);
          box-shadow: 0 3px 10px rgba(20, 207, 159, 0.5);
  color: #fff !important;
}

.btn.btn-outline-success {
  border: 1px solid #14cf9f !important;
  color: #14cf9f !important;
}

.btn.btn-outline-success:hover, .btn.btn-outline-success:focus, .btn.btn-outline-success.focus, .btn.btn-outline-success:active, .btn.btn-outline-success.active {
  background-color: #14cf9f !important;
  border: 1px solid #14cf9f !important;
  -webkit-box-shadow: 0 3px 10px rgba(20, 207, 159, 0.5);
          box-shadow: 0 3px 10px rgba(20, 207, 159, 0.5);
  color: #fff !important;
}

.btn.btn-soft-success {
  background-color: rgba(20, 207, 159, 0.18) !important;
  color: #14cf9f !important;
}

.btn.btn-info {
  background-color: #4fccdc !important;
  border: 1px solid #4fccdc !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(79, 204, 220, 0.15);
          box-shadow: 0 4px 20px rgba(79, 204, 220, 0.15);
}

.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info.focus, .btn.btn-info:active, .btn.btn-info.active {
  background-color: #42c8d9 !important;
  border: 1px solid #42c8d9 !important;
  -webkit-box-shadow: 0 3px 10px rgba(79, 204, 220, 0.5);
          box-shadow: 0 3px 10px rgba(79, 204, 220, 0.5);
  color: #fff !important;
}

.btn.btn-outline-info {
  border: 1px solid #4fccdc !important;
  color: #4fccdc !important;
}

.btn.btn-outline-info:hover, .btn.btn-outline-info:focus, .btn.btn-outline-info.focus, .btn.btn-outline-info:active, .btn.btn-outline-info.active {
  background-color: #4fccdc !important;
  border: 1px solid #4fccdc !important;
  -webkit-box-shadow: 0 3px 10px rgba(79, 204, 220, 0.5);
          box-shadow: 0 3px 10px rgba(79, 204, 220, 0.5);
  color: #fff !important;
}

.btn.btn-soft-info {
  background-color: rgba(79, 204, 220, 0.18) !important;
  color: #4fccdc !important;
}

.btn.btn-warning {
  background-color: #ffbb13 !important;
  border: 1px solid #ffbb13 !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(255, 187, 19, 0.15);
          box-shadow: 0 4px 20px rgba(255, 187, 19, 0.15);
}

.btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning.focus, .btn.btn-warning:active, .btn.btn-warning.active {
  background-color: #ffb704 !important;
  border: 1px solid #ffb704 !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 187, 19, 0.5);
          box-shadow: 0 3px 10px rgba(255, 187, 19, 0.5);
  color: #fff !important;
}

.btn.btn-outline-warning {
  border: 1px solid #ffbb13 !important;
  color: #ffbb13 !important;
}

.btn.btn-outline-warning:hover, .btn.btn-outline-warning:focus, .btn.btn-outline-warning.focus, .btn.btn-outline-warning:active, .btn.btn-outline-warning.active {
  background-color: #ffbb13 !important;
  border: 1px solid #ffbb13 !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 187, 19, 0.5);
          box-shadow: 0 3px 10px rgba(255, 187, 19, 0.5);
  color: #fff !important;
}

.btn.btn-soft-warning {
  background-color: rgba(255, 187, 19, 0.18) !important;
  color: #ffbb13 !important;
}

.btn.btn-danger {
  background-color: #f43958 !important;
  border: 1px solid #f43958 !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(244, 57, 88, 0.15);
          box-shadow: 0 4px 20px rgba(244, 57, 88, 0.15);
}

.btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger.focus, .btn.btn-danger:active, .btn.btn-danger.active {
  background-color: #f32b4c !important;
  border: 1px solid #f32b4c !important;
  -webkit-box-shadow: 0 3px 10px rgba(244, 57, 88, 0.5);
          box-shadow: 0 3px 10px rgba(244, 57, 88, 0.5);
  color: #fff !important;
}

.btn.btn-outline-danger {
  border: 1px solid #f43958 !important;
  color: #f43958 !important;
}

.btn.btn-outline-danger:hover, .btn.btn-outline-danger:focus, .btn.btn-outline-danger.focus, .btn.btn-outline-danger:active, .btn.btn-outline-danger.active {
  background-color: #f43958 !important;
  border: 1px solid #f43958 !important;
  -webkit-box-shadow: 0 3px 10px rgba(244, 57, 88, 0.5);
          box-shadow: 0 3px 10px rgba(244, 57, 88, 0.5);
  color: #fff !important;
}

.btn.btn-soft-danger {
  background-color: rgba(244, 57, 88, 0.18) !important;
  color: #f43958 !important;
}

.btn.btn-dark {
  background-color: #3b3950 !important;
  border: 1px solid #3b3950 !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(59, 57, 80, 0.15);
          box-shadow: 0 4px 20px rgba(59, 57, 80, 0.15);
}

.btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark.focus, .btn.btn-dark:active, .btn.btn-dark.active {
  background-color: #343347 !important;
  border: 1px solid #343347 !important;
  -webkit-box-shadow: 0 3px 10px rgba(59, 57, 80, 0.5);
          box-shadow: 0 3px 10px rgba(59, 57, 80, 0.5);
  color: #fff !important;
}

.btn.btn-outline-dark {
  border: 1px solid #3b3950 !important;
  color: #3b3950 !important;
}

.btn.btn-outline-dark:hover, .btn.btn-outline-dark:focus, .btn.btn-outline-dark.focus, .btn.btn-outline-dark:active, .btn.btn-outline-dark.active {
  background-color: #3b3950 !important;
  border: 1px solid #3b3950 !important;
  -webkit-box-shadow: 0 3px 10px rgba(59, 57, 80, 0.5);
          box-shadow: 0 3px 10px rgba(59, 57, 80, 0.5);
  color: #fff !important;
}

.btn.btn-soft-dark {
  background-color: rgba(59, 57, 80, 0.18) !important;
  color: #3b3950 !important;
}

.btn.btn-muted {
  background-color: #9e9cb9 !important;
  border: 1px solid #9e9cb9 !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(158, 156, 185, 0.15);
          box-shadow: 0 4px 20px rgba(158, 156, 185, 0.15);
}

.btn.btn-muted:hover, .btn.btn-muted:focus, .btn.btn-muted.focus, .btn.btn-muted:active, .btn.btn-muted.active {
  background-color: #9593b3 !important;
  border: 1px solid #9593b3 !important;
  -webkit-box-shadow: 0 3px 10px rgba(158, 156, 185, 0.5);
          box-shadow: 0 3px 10px rgba(158, 156, 185, 0.5);
  color: #fff !important;
}

.btn.btn-outline-muted {
  border: 1px solid #9e9cb9 !important;
  color: #9e9cb9 !important;
}

.btn.btn-outline-muted:hover, .btn.btn-outline-muted:focus, .btn.btn-outline-muted.focus, .btn.btn-outline-muted:active, .btn.btn-outline-muted.active {
  background-color: #9e9cb9 !important;
  border: 1px solid #9e9cb9 !important;
  -webkit-box-shadow: 0 3px 10px rgba(158, 156, 185, 0.5);
          box-shadow: 0 3px 10px rgba(158, 156, 185, 0.5);
  color: #fff !important;
}

.btn.btn-soft-muted {
  background-color: rgba(158, 156, 185, 0.18) !important;
  color: #9e9cb9 !important;
}

.btn.btn-light {
  background-color: #fbfafd !important;
  border: 1px solid #fbfafd !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(251, 250, 253, 0.15);
          box-shadow: 0 4px 20px rgba(251, 250, 253, 0.15);
}

.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light.focus, .btn.btn-light:active, .btn.btn-light.active {
  background-color: #f2eff9 !important;
  border: 1px solid #f2eff9 !important;
  -webkit-box-shadow: 0 3px 10px rgba(251, 250, 253, 0.5);
          box-shadow: 0 3px 10px rgba(251, 250, 253, 0.5);
  color: #fff !important;
}

.btn.btn-outline-light {
  border: 1px solid #fbfafd !important;
  color: #fbfafd !important;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:focus, .btn.btn-outline-light.focus, .btn.btn-outline-light:active, .btn.btn-outline-light.active {
  background-color: #fbfafd !important;
  border: 1px solid #fbfafd !important;
  -webkit-box-shadow: 0 3px 10px rgba(251, 250, 253, 0.5);
          box-shadow: 0 3px 10px rgba(251, 250, 253, 0.5);
  color: #fff !important;
}

.btn.btn-soft-light {
  background-color: rgba(251, 250, 253, 0.18) !important;
  color: #fbfafd !important;
}

.btn.btn-body-bg {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(255, 255, 255, 0.15);
          box-shadow: 0 4px 20px rgba(255, 255, 255, 0.15);
}

.btn.btn-body-bg:hover, .btn.btn-body-bg:focus, .btn.btn-body-bg.focus, .btn.btn-body-bg:active, .btn.btn-body-bg.active {
  background-color: #f7f7f7 !important;
  border: 1px solid #f7f7f7 !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
  color: #fff !important;
}

.btn.btn-outline-body-bg {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}

.btn.btn-outline-body-bg:hover, .btn.btn-outline-body-bg:focus, .btn.btn-outline-body-bg.focus, .btn.btn-outline-body-bg:active, .btn.btn-outline-body-bg.active {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
  color: #fff !important;
}

.btn.btn-soft-body-bg {
  background-color: rgba(255, 255, 255, 0.18) !important;
  color: #ffffff !important;
}

.btn.btn-black {
  background-color: #000 !important;
  border: 1px solid #000 !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.btn.btn-black:hover, .btn.btn-black:focus, .btn.btn-black.focus, .btn.btn-black:active, .btn.btn-black.active {
  background-color: black !important;
  border: 1px solid black !important;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: #fff !important;
}

.btn.btn-outline-black {
  border: 1px solid #000 !important;
  color: #000 !important;
}

.btn.btn-outline-black:hover, .btn.btn-outline-black:focus, .btn.btn-outline-black.focus, .btn.btn-outline-black:active, .btn.btn-outline-black.active {
  background-color: #000 !important;
  border: 1px solid #000 !important;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: #fff !important;
}

.btn.btn-soft-black {
  background-color: rgba(0, 0, 0, 0.18) !important;
  color: #000 !important;
}

.btn.btn-white {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(255, 255, 255, 0.15);
          box-shadow: 0 4px 20px rgba(255, 255, 255, 0.15);
}

.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white.focus, .btn.btn-white:active, .btn.btn-white.active {
  background-color: #f7f7f7 !important;
  border: 1px solid #f7f7f7 !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
  color: #fff !important;
}

.btn.btn-outline-white {
  border: 1px solid #fff !important;
  color: #fff !important;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white.focus, .btn.btn-outline-white:active, .btn.btn-outline-white.active {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
  color: #fff !important;
}

.btn.btn-soft-white {
  background-color: rgba(255, 255, 255, 0.18) !important;
  color: #fff !important;
}

.btn.btn-light {
  background-color: #fbfafd;
  border: 1px solid #fbfafd;
  color: #3b3950 !important;
}

.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light.focus, .btn.btn-light:active, .btn.btn-light.active {
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 0 2px rgba(251, 250, 253, 0.08);
          box-shadow: 0 0 0 2px rgba(251, 250, 253, 0.08);
  color: #3b3950 !important;
}

.btn.btn-outline-light {
  border: 1px solid #fbfafd;
  color: #fbfafd !important;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:focus, .btn.btn-outline-light.focus, .btn.btn-outline-light:active, .btn.btn-outline-light.active {
  background-color: #fbfafd;
  border: 1px solid #fbfafd;
  color: #3b3950 !important;
}

.badge {
  padding: 7px 18px;
  font-size: 14px;
  -webkit-box-shadow: 0 2px 1px rgba(90, 79, 220, 0.3);
          box-shadow: 0 2px 1px rgba(90, 79, 220, 0.3);
}

.badge.badge-soft-primary {
  background: rgba(90, 79, 220, 0.12);
  color: #5a4fdc;
}

.badge.badge-soft-secondary {
  background: rgba(108, 117, 125, 0.12);
  color: #6c757d;
}

.badge.badge-soft-success {
  background: rgba(20, 207, 159, 0.12);
  color: #14cf9f;
}

.badge.badge-soft-info {
  background: rgba(79, 204, 220, 0.12);
  color: #4fccdc;
}

.badge.badge-soft-warning {
  background: rgba(255, 187, 19, 0.12);
  color: #ffbb13;
}

.badge.badge-soft-danger {
  background: rgba(244, 57, 88, 0.12);
  color: #f43958;
}

.badge.badge-soft-dark {
  background: rgba(59, 57, 80, 0.12);
  color: #3b3950;
}

.badge.badge-soft-muted {
  background: rgba(158, 156, 185, 0.12);
  color: #9e9cb9;
}

.badge.badge-soft-light {
  background: rgba(251, 250, 253, 0.12);
  color: #fbfafd;
}

.badge.badge-soft-body-bg {
  background: rgba(255, 255, 255, 0.12);
  color: #ffffff;
}

.badge.badge-soft-black {
  background: rgba(0, 0, 0, 0.12);
  color: #000;
}

.badge.badge-soft-white {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

/* 
// 04.Helper
*/
.text-primary {
  color: #5a4fdc !important;
}

.bg-primary {
  background-color: #5a4fdc !important;
}

.bg-soft-primary {
  background-color: rgba(90, 79, 220, 0.12);
}

.text-secondary {
  color: #6c757d !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-soft-secondary {
  background-color: rgba(108, 117, 125, 0.12);
}

.text-success {
  color: #14cf9f !important;
}

.bg-success {
  background-color: #14cf9f !important;
}

.bg-soft-success {
  background-color: rgba(20, 207, 159, 0.12);
}

.text-info {
  color: #4fccdc !important;
}

.bg-info {
  background-color: #4fccdc !important;
}

.bg-soft-info {
  background-color: rgba(79, 204, 220, 0.12);
}

.text-warning {
  color: #ffbb13 !important;
}

.bg-warning {
  background-color: #ffbb13 !important;
}

.bg-soft-warning {
  background-color: rgba(255, 187, 19, 0.12);
}

.text-danger {
  color: #f43958 !important;
}

.bg-danger {
  background-color: #f43958 !important;
}

.bg-soft-danger {
  background-color: rgba(244, 57, 88, 0.12);
}

.text-dark {
  color: #3b3950 !important;
}

.bg-dark {
  background-color: #3b3950 !important;
}

.bg-soft-dark {
  background-color: rgba(59, 57, 80, 0.12);
}

.text-muted {
  color: #9e9cb9 !important;
}

.bg-muted {
  background-color: #9e9cb9 !important;
}

.bg-soft-muted {
  background-color: rgba(158, 156, 185, 0.12);
}

.text-light {
  color: #fbfafd !important;
}

.bg-light {
  background-color: #fbfafd !important;
}

.bg-soft-light {
  background-color: rgba(251, 250, 253, 0.12);
}

.text-body-bg {
  color: #ffffff !important;
}

.bg-body-bg {
  background-color: #ffffff !important;
}

.bg-soft-body-bg {
  background-color: rgba(255, 255, 255, 0.12);
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-soft-black {
  background-color: rgba(0, 0, 0, 0.12);
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-soft-white {
  background-color: rgba(255, 255, 255, 0.12);
}

.text-shadow {
  text-shadow: 3px 3px 6px rgba(14, 10, 65, 0.25);
}

.text-white-70 {
  color: rgba(255, 255, 255, 0.7);
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.bg-overlay {
  background-color: #000;
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bg-gradient-primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#4fccdc), to(#5a4fdc));
  background: linear-gradient(to top, #4fccdc 0%, #5a4fdc 100%);
}

.line-height-1_6 {
  line-height: 1.6;
}

.line-height-1_4 {
  line-height: 1.4;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.title {
  text-shadow: 1px 2px 3px rgba(59, 57, 80, 0.2);
}

.hero-bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.right-icon {
  line-height: 0;
  font-size: 19px;
}

.icon-size-15 {
  height: 15px;
  width: 15px;
}

.icon-size-15 svg {
  height: 15px !important;
  width: 15px !important;
}

.icon-sm {
  height: 18px;
  width: 18px;
}

.icon-sm svg {
  height: 18px !important;
  width: 18px !important;
}

.icon-xs {
  height: 20px;
  width: 20px;
}

.icon-xs svg {
  height: 20px !important;
  width: 20px !important;
}

.icon-md {
  height: 25px;
  width: 25px;
}

.icon-md svg {
  height: 25px !important;
  width: 25px !important;
}

.icon-lg {
  height: 30px;
  width: 30px;
}

.icon-lg svg {
  height: 30px !important;
  width: 30px !important;
}

.icon-xl {
  height: 35px;
  width: 35px;
}

.icon-xl svg {
  height: 35px !important;
  width: 35px !important;
}

.icon-xxl {
  height: 45px;
  width: 45px;
}

.icon-xxl svg {
  height: 45px !important;
  width: 45px !important;
}

.icon-xxxl {
  height: 60px;
  width: 60px;
}

.icon-xxxl svg {
  height: 60px !important;
  width: 60px !important;
}

.uim-icon-primary .uim-svg {
  fill: #5a4fdc !important;
}

.icon-fill-primary {
  fill: rgba(90, 79, 220, 0.15);
}

.uim-icon-secondary .uim-svg {
  fill: #6c757d !important;
}

.icon-fill-secondary {
  fill: rgba(108, 117, 125, 0.15);
}

.uim-icon-success .uim-svg {
  fill: #14cf9f !important;
}

.icon-fill-success {
  fill: rgba(20, 207, 159, 0.15);
}

.uim-icon-info .uim-svg {
  fill: #4fccdc !important;
}

.icon-fill-info {
  fill: rgba(79, 204, 220, 0.15);
}

.uim-icon-warning .uim-svg {
  fill: #ffbb13 !important;
}

.icon-fill-warning {
  fill: rgba(255, 187, 19, 0.15);
}

.uim-icon-danger .uim-svg {
  fill: #f43958 !important;
}

.icon-fill-danger {
  fill: rgba(244, 57, 88, 0.15);
}

.uim-icon-dark .uim-svg {
  fill: #3b3950 !important;
}

.icon-fill-dark {
  fill: rgba(59, 57, 80, 0.15);
}

.uim-icon-muted .uim-svg {
  fill: #9e9cb9 !important;
}

.icon-fill-muted {
  fill: rgba(158, 156, 185, 0.15);
}

.uim-icon-light .uim-svg {
  fill: #fbfafd !important;
}

.icon-fill-light {
  fill: rgba(251, 250, 253, 0.15);
}

.uim-icon-body-bg .uim-svg {
  fill: #ffffff !important;
}

.icon-fill-body-bg {
  fill: rgba(255, 255, 255, 0.15);
}

.uim-icon-black .uim-svg {
  fill: #000 !important;
}

.icon-fill-black {
  fill: rgba(0, 0, 0, 0.15);
}

.uim-icon-white .uim-svg {
  fill: #fff !important;
}

.icon-fill-white {
  fill: rgba(255, 255, 255, 0.15);
}

.sw_1-5 {
  stroke-width: 1.5px;
}

.sw_3 {
  stroke-width: 3px;
}

.icon {
  position: relative;
  top: -2px;
}

/* 
// 05.Loader
*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right bottom, left top, from(#f59d9d), to(#5a4fdc));
  background: linear-gradient(to top left, #f59d9d 0%, #5a4fdc 100%);
  z-index: 9999999;
}

#preloader #status {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.spinner {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
          box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* 
// 06.Hero
*/
.hero-1-bg {
  padding: 130px 0 110px;
  background: rgba(90, 79, 220, 0.025);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.hero-1-bg .hero-1-title {
  font-size: 52px;
}

.hero-1-bg .subscribe-form form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.hero-1-bg .subscribe-form input {
  padding: 17px 20px;
  width: 100%;
  border: none;
  outline: none !important;
  padding-right: 160px;
  padding-left: 20px;
  background-color: #f0f2fa;
  border-radius: 4px;
}

.hero-1-bg .subscribe-form button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.hero-1-bg .subscribe-form ::-webkit-input-placeholder {
  font-size: 16px;
  color: #868e96;
}

.hero-1-bg .subscribe-form :-ms-input-placeholder {
  font-size: 16px;
  color: #868e96;
}

.hero-1-bg .subscribe-form ::-ms-input-placeholder {
  font-size: 16px;
  color: #868e96;
}

.hero-1-bg .subscribe-form ::placeholder {
  font-size: 16px;
  color: #868e96;
}

.hero-2-bg {
  padding: 260px 0 280px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.hero-2-bg .hero-2-title {
  font-size: 48px;
}

.hero-3-bg {
  padding: 80px 0 0px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #f5f6f8;
}

.hero-3-bg .hero-3-title {
  font-size: 44px;
}

.hero-3-bg .play-icon-circle {
  border: 2px solid #3b3950;
  height: 46px;
  font-size: 24px;
  width: 46px;
  color: #3b3950;
  line-height: 43px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero-3-bg .play-icon-circle:hover {
  background-color: #5a4fdc;
  border-color: #5a4fdc;
  -webkit-box-shadow: 0 0px 0px 6px rgba(90, 79, 220, 0.12);
          box-shadow: 0 0px 0px 6px rgba(90, 79, 220, 0.12);
  color: #fff !important;
}

.hero-4-bg {
  padding: 210px 0 170px;
}

.hero-4-bg .hero-4-title {
  font-size: 48px;
}

.hero-4-bg .hero-4-title .text-bottom-border {
  position: relative;
  z-index: 2;
  padding: 0 10px;
}

.hero-4-bg .hero-4-title .text-bottom-border:after {
  content: "";
  background: rgba(90, 79, 220, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero-4-bg .hero-4-title .text-bottom-border:hover:after {
  background: rgba(90, 79, 220, 0.1);
  height: 100%;
}

.hero-4-bg .hero-4-registration-form {
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.065);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.065);
  padding: 40px;
}

.hero-4-bg .hero-4-registration-form .registration-form .form-control {
  border-color: #eae4f4;
}

.hero-4-bg .hero-4-registration-form .registration-form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #9a93ea;
}

.hero-4-bg .hero-4-registration-form .form-border {
  border: 1px solid #ece8f6;
}

.hero-5-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.hero-5-bg .hero-5-title {
  font-size: 48px;
}

.hero-5-bg .bg-overlay {
  opacity: 0.60;
}

.hero-5-bg .bg-hero-overlay {
  background-image: url("../images/hero-5-overlay.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-6-bg {
  padding: 250px 0 230px 0px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.hero-6-bg .hero-6-title {
  font-size: 44px;
}

.hero-6-bg .Subcribe-form form {
  position: relative;
  margin: 0px auto;
}

.hero-6-bg .Subcribe-form input {
  padding: 12px 20px;
  width: 60%;
  font-size: 17px;
  color: #4c5667 !important;
  border: none;
  outline: none !important;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  top: 3px;
}

.hero-6-bg .Subcribe-form input::-webkit-input-placeholder {
  font-size: 15px;
  color: #868e96;
}

.hero-6-bg .Subcribe-form input:-ms-input-placeholder {
  font-size: 15px;
  color: #868e96;
}

.hero-6-bg .Subcribe-form input::-ms-input-placeholder {
  font-size: 15px;
  color: #868e96;
}

.hero-6-bg .Subcribe-form input::placeholder {
  font-size: 15px;
  color: #868e96;
}

@media (max-width: 576px) {
  .hero-1-title, .hero-2-title, .hero-4-title, .hero-5-title {
    font-size: 36px !important;
  }
  .hero-6-bg {
    padding: 150px 0 110px 0px;
  }
  .hero-6-bg .hero-6-title {
    font-size: 32px !important;
  }
  .hero-6-bg .Subcribe-form input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-1-bg .w-75 {
    width: 100% !important;
  }
  .hero-2-bg {
    padding: 130px 0 70px;
  }
  .hero-3-bg {
    padding: 130px 0 0px;
  }
  .hero-4-bg {
    padding: 140px 0 110px;
  }
}

@media (max-width: 1024px) {
  .hero-5-bg {
    height: auto !important;
    padding: 170px 0 130px;
  }
  .hero-5-bg .bg-hero-overlay {
    background-image: none;
    background: #f8f9fa;
  }
}

/* 
// 7. Why Choose Us
*/
.wc-box {
  -webkit-box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
          box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
  margin-bottom: 30px;
}

.wc-box .wc-box-icon {
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 auto;
}

.wc-box:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.wc-box:hover .wc-box-icon {
  background: rgba(255, 255, 255, 0.12) !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.04);
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.04);
}

.wc-box:hover .wc-title {
  color: #fff;
}

.wc-box:hover .wc-subtitle {
  color: rgba(255, 255, 255, 0.5) !important;
}

.wc-box, .wc-box-icon, .wc-title, .wc-subtitle {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wc-box.wc-box-primary .wc-box-icon {
  background: rgba(90, 79, 220, 0.12);
  color: #5a4fdc;
}

.wc-box.wc-box-primary:hover {
  background: #5a4fdc;
  -webkit-box-shadow: 0 5px 18px rgba(90, 79, 220, 0.4);
          box-shadow: 0 5px 18px rgba(90, 79, 220, 0.4);
}

.wc-box.wc-box-secondary .wc-box-icon {
  background: rgba(108, 117, 125, 0.12);
  color: #6c757d;
}

.wc-box.wc-box-secondary:hover {
  background: #6c757d;
  -webkit-box-shadow: 0 5px 18px rgba(108, 117, 125, 0.4);
          box-shadow: 0 5px 18px rgba(108, 117, 125, 0.4);
}

.wc-box.wc-box-success .wc-box-icon {
  background: rgba(20, 207, 159, 0.12);
  color: #14cf9f;
}

.wc-box.wc-box-success:hover {
  background: #14cf9f;
  -webkit-box-shadow: 0 5px 18px rgba(20, 207, 159, 0.4);
          box-shadow: 0 5px 18px rgba(20, 207, 159, 0.4);
}

.wc-box.wc-box-info .wc-box-icon {
  background: rgba(79, 204, 220, 0.12);
  color: #4fccdc;
}

.wc-box.wc-box-info:hover {
  background: #4fccdc;
  -webkit-box-shadow: 0 5px 18px rgba(79, 204, 220, 0.4);
          box-shadow: 0 5px 18px rgba(79, 204, 220, 0.4);
}

.wc-box.wc-box-warning .wc-box-icon {
  background: rgba(255, 187, 19, 0.12);
  color: #ffbb13;
}

.wc-box.wc-box-warning:hover {
  background: #ffbb13;
  -webkit-box-shadow: 0 5px 18px rgba(255, 187, 19, 0.4);
          box-shadow: 0 5px 18px rgba(255, 187, 19, 0.4);
}

.wc-box.wc-box-danger .wc-box-icon {
  background: rgba(244, 57, 88, 0.12);
  color: #f43958;
}

.wc-box.wc-box-danger:hover {
  background: #f43958;
  -webkit-box-shadow: 0 5px 18px rgba(244, 57, 88, 0.4);
          box-shadow: 0 5px 18px rgba(244, 57, 88, 0.4);
}

.wc-box.wc-box-dark .wc-box-icon {
  background: rgba(59, 57, 80, 0.12);
  color: #3b3950;
}

.wc-box.wc-box-dark:hover {
  background: #3b3950;
  -webkit-box-shadow: 0 5px 18px rgba(59, 57, 80, 0.4);
          box-shadow: 0 5px 18px rgba(59, 57, 80, 0.4);
}

.wc-box.wc-box-muted .wc-box-icon {
  background: rgba(158, 156, 185, 0.12);
  color: #9e9cb9;
}

.wc-box.wc-box-muted:hover {
  background: #9e9cb9;
  -webkit-box-shadow: 0 5px 18px rgba(158, 156, 185, 0.4);
          box-shadow: 0 5px 18px rgba(158, 156, 185, 0.4);
}

.wc-box.wc-box-light .wc-box-icon {
  background: rgba(251, 250, 253, 0.12);
  color: #fbfafd;
}

.wc-box.wc-box-light:hover {
  background: #fbfafd;
  -webkit-box-shadow: 0 5px 18px rgba(251, 250, 253, 0.4);
          box-shadow: 0 5px 18px rgba(251, 250, 253, 0.4);
}

.wc-box.wc-box-body-bg .wc-box-icon {
  background: rgba(255, 255, 255, 0.12);
  color: #ffffff;
}

.wc-box.wc-box-body-bg:hover {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 18px rgba(255, 255, 255, 0.4);
          box-shadow: 0 5px 18px rgba(255, 255, 255, 0.4);
}

.wc-box.wc-box-black .wc-box-icon {
  background: rgba(0, 0, 0, 0.12);
  color: #000;
}

.wc-box.wc-box-black:hover {
  background: #000;
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}

.wc-box.wc-box-white .wc-box-icon {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

.wc-box.wc-box-white:hover {
  background: #fff;
  -webkit-box-shadow: 0 5px 18px rgba(255, 255, 255, 0.4);
          box-shadow: 0 5px 18px rgba(255, 255, 255, 0.4);
}

/* 
// 8. Features
*/
.feather-bg-img {
  background-position: center center;
  background-size: cover;
}

/* 
// 9. Pricing
*/
.pricing-box {
  background: #fff;
  -webkit-box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
          box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.pricing-box .pricing-icon-bg {
  background: rgba(90, 79, 220, 0.12);
  color: #5a4fdc;
  display: block;
  height: 80px;
  width: 80px;
  line-height: 100px;
  margin: 0 auto;
  border-radius: 20% 20% 4% 20% / 20% 20% 4% 20%;
  -webkit-box-shadow: 0 0 0 7px rgba(90, 79, 220, 0.03);
          box-shadow: 0 0 0 7px rgba(90, 79, 220, 0.03);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pricing-box .pricing-item li {
  padding: 10px 0;
}

.pricing-box .pr-btn {
  position: relative;
  z-index: 1;
}

.pricing-box:hover .pricing-icon-bg, .pricing-box.active .pricing-icon-bg {
  background-color: #5a4fdc;
  -webkit-box-shadow: 0 0 0 7px rgba(90, 79, 220, 0.06);
          box-shadow: 0 0 0 7px rgba(90, 79, 220, 0.06);
  color: #fff;
  border-radius: 4% 20% 20% 20% / 4% 20% 20% 20%;
}

/* 
// 10. Contact us
*/
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fbfafd;
  border-color: #ced4da;
}

.form-control {
  padding: 8px 10px;
  font-size: 14px;
  height: 40px;
  background-color: rgba(59, 57, 80, 0.01);
  border: 1px solid rgba(158, 156, 185, 0.3);
}

.form-control::-webkit-input-placeholder {
  color: #b0aec6;
  font-size: 14px;
}

.form-control:-ms-input-placeholder {
  color: #b0aec6;
  font-size: 14px;
}

.form-control::-ms-input-placeholder {
  color: #b0aec6;
  font-size: 14px;
}

.form-control::placeholder {
  color: #b0aec6;
  font-size: 14px;
}

.error {
  margin: 8px 0px;
  display: none;
  color: #f43958;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #f43958;
  color: #f43958;
  border-radius: 5px;
  font-size: 14px;
}

.contact-loader {
  display: none;
}

/* 
// 11. Footer
*/
.footer {
  background: #292838;
  padding: 70px 0 40px;
}

.footer .footer-social-icon-content .footer-social-icon {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .footer-social-icon-content .footer-social-icon:hover {
  color: #fff;
}

.footer .footer-sub-menu li {
  padding: 6px 0;
}

.footer .footer-sub-menu li .footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .footer-sub-menu li .footer-link:hover {
  color: #fff;
  margin-left: 5px;
}

.footer-alt {
  background: #23222f;
}

/* 
// 12. modal
*/
.modal .modal-dialog {
  max-width: 420px;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 32px;
}

.modal .modal-dialog .modal-content .modal-body .social-login {
  position: relative;
  background: #fff;
  padding: 0 12px;
  display: inline-block;
}

.modal .modal-dialog .modal-content .modal-body .login-border {
  border: 1px solid #edeff1;
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
}

.modal .modal-dialog .modal-content .modal-body .login-social-icon {
  height: 45px;
  width: 45px;
  display: block;
  color: #fff;
  line-height: 45px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login-form .login-social-icon.icon-primary {
  background-color: #5a4fdc;
}

.login-form .login-social-icon.icon-primary:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(90, 79, 220, 0.16);
          box-shadow: 0 0 0 5px rgba(90, 79, 220, 0.16);
}

.login-form .login-social-icon.icon-secondary {
  background-color: #6c757d;
}

.login-form .login-social-icon.icon-secondary:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(108, 117, 125, 0.16);
          box-shadow: 0 0 0 5px rgba(108, 117, 125, 0.16);
}

.login-form .login-social-icon.icon-success {
  background-color: #14cf9f;
}

.login-form .login-social-icon.icon-success:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(20, 207, 159, 0.16);
          box-shadow: 0 0 0 5px rgba(20, 207, 159, 0.16);
}

.login-form .login-social-icon.icon-info {
  background-color: #4fccdc;
}

.login-form .login-social-icon.icon-info:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(79, 204, 220, 0.16);
          box-shadow: 0 0 0 5px rgba(79, 204, 220, 0.16);
}

.login-form .login-social-icon.icon-warning {
  background-color: #ffbb13;
}

.login-form .login-social-icon.icon-warning:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(255, 187, 19, 0.16);
          box-shadow: 0 0 0 5px rgba(255, 187, 19, 0.16);
}

.login-form .login-social-icon.icon-danger {
  background-color: #f43958;
}

.login-form .login-social-icon.icon-danger:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(244, 57, 88, 0.16);
          box-shadow: 0 0 0 5px rgba(244, 57, 88, 0.16);
}

.login-form .login-social-icon.icon-dark {
  background-color: #3b3950;
}

.login-form .login-social-icon.icon-dark:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(59, 57, 80, 0.16);
          box-shadow: 0 0 0 5px rgba(59, 57, 80, 0.16);
}

.login-form .login-social-icon.icon-muted {
  background-color: #9e9cb9;
}

.login-form .login-social-icon.icon-muted:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(158, 156, 185, 0.16);
          box-shadow: 0 0 0 5px rgba(158, 156, 185, 0.16);
}

.login-form .login-social-icon.icon-light {
  background-color: #fbfafd;
}

.login-form .login-social-icon.icon-light:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(251, 250, 253, 0.16);
          box-shadow: 0 0 0 5px rgba(251, 250, 253, 0.16);
}

.login-form .login-social-icon.icon-body-bg {
  background-color: #ffffff;
}

.login-form .login-social-icon.icon-body-bg:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.16);
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.16);
}

.login-form .login-social-icon.icon-black {
  background-color: #000;
}

.login-form .login-social-icon.icon-black:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.16);
}

.login-form .login-social-icon.icon-white {
  background-color: #fff;
}

.login-form .login-social-icon.icon-white:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.16);
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.16);
}
/*# sourceMappingURL=style.css.map */


.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 300px;
}

.testimonials {
  background: #000;
}

.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
}

.icon-overlay {
  position: absolute;
  opacity: 0.3;
  right: 10%;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.carousel-controls .control {
  position: absolute;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 1;
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }
}



.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
