  <!--Navbar Start-->
  <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" (window:scroll)="windowScroll()"
    id="navbar">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand logo" href="/">
        <img src="assets/images/smallplanmyhealth.png" alt="" class="logo-dark" style="width: 203px;height: 60px;" />
        <img src="assets/images/smallplanmyhealth.png" alt="" class="logo-light" height="24" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
        <i class="mdi mdi-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        
        <!-- <ul class="navbar-nav navbar-center">
          <li class="nav-item">
            <a href="javascript: void(0);" class="nav-link" (click)="loginModal(content)">Log
              in</a>
          </li>
          <li class="nav-item">
            <a href="javascript: void(0);" class="nav-link" (click)="registerModal(registercontent)">Register</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
  <div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">

    <!-- Hero Start -->
    <section class="hero-3-bg" id="home">
     
    </section>
    
    <div class="row">
      
      <div class="col">
        <h2>Frequently Asked <b>Questions</b></h2>
        <div class="tabs">
          <div class="tab">
            <input type="radio" id="rd1" name="rd">
            <label class="tab-label" for="rd1">Who can buy Health Plan from Plan My Health.</label>
            <div class="tab-content">
              This plan is for everyone like Individual, Families & Groups like Corporate , Society & Government .
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd2" name="rd">
            <label class="tab-label" for="rd2">Why I should buy Health Plan From Plan My Health ?</label>
            <div class="tab-content">
              India’s First Family Health Plan covers all your out of pocket healthcare expenses worries like doctor consulting , wellness , home delivery of medicine & home collection for medical test under 1 roof. We also deliver value add services like home healthcare, Health claim assistance, Medical Record Management & Hospitalization assistance.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd3" name="rd">
            <label class="tab-label" for="rd3">How do we have to pay for this plan ?</label>
            <div class="tab-content">
              Our Health Plan comes with annual subscription its 1 time prepaid plan , Pay once & enjoy hassle free health services through out the year 
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd4" name="rd">
            <label class="tab-label" for="rd4">How to renew plan or add more members to the plan ?</label>
            <div class="tab-content">
              We have a simple process to renew through a online remewal process & also for any addition for any members we have an online addition or deletion process.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd5" name="rd">
            <label class="tab-label" for="rd5">How much will I Save with Plan My Health?</label>
            <div class="tab-content">
              You will be saving more than 75% over your healthcare expenses & will also keep track of your health insurance policy record to guide you if you claim certain expenses from insurance companies.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd6" name="rd">
            <label class="tab-label" for="rd6">What is health content access? orWhat does it mean?
              </label>
            <div class="tab-content">
              It will be not just blogs written by our health experts which can be accessed at free of cost for our members here any of our members can ask for advice for their health.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd7" name="rd">
            <label class="tab-label" for="rd7">How does electronic records work and how safe is it?</label>
            <div class="tab-content">
              Yes, electronic records are completely safe it is made by keeping all the privacy in our mind. All the reports or doctor’s appointment are updated and kept saved in this feature.
&  to access this you get a login id for safety.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd8" name="rd">
            <label class="tab-label" for="rd8">What do you mean by hospital admission assistance?</label>
            <div class="tab-content">
              There will be an expert who will guide our members in the case of emergencies required for Doctors and Hospitalization
Our expert team can guide you for the entire process & suggest some good name for the hospitalization.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd9" name="rd">
            <label class="tab-label" for="rd9">What do you mean by health claim Assistance?</label>
            <div class="tab-content">
              Here for eg if our client is hospitalised and want to claim for their medical expenses then our health claim department will help with the entire process.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd10" name="rd">
            <label class="tab-label" for="rd10">How many times we can consult to dietitian and diet chart ?</label>
            <div class="tab-content">
              You will be consulted at first level to create a customized diet chart for your health & we will do a post recall in certain plan for some modification if required.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd11" name="rd">
            <label class="tab-label" for="rd11">Accidental insurance will be inclusive or we have to pay?</label>
            <div class="tab-content">
              Accidental insurance will be inclusive only in the plan of 999 we will give upto 1lakh of insurance.
              Which will finish as the member get over 
              That means it will be on yearly basis.            
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd12" name="rd">
            <label class="tab-label" for="rd12">Is both the times dental checkup’s free </label>
            <div class="tab-content">
              Yes for particular things only like scaling or cleaning that to depends on plan if you take 599 then it will once and if it is 999 it will be for two times.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd13" name="rd">
            <label class="tab-label" for="rd13">Is prescription important for doorstep medicine & how home delivery of medicine works?</label>
            <div class="tab-content">
              If you are consulting through our doctor team then you will get an automated prescription copy from us & in case of your doctor prescribed medicine required then we will expect you to share the copy of it for our records.Our pharmacist will deliver you all kind of medicine based on your prescription to your doorstep within some specified cities as of now .
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd14" name="rd">
            <label class="tab-label" for="rd14">How does Home collection for pathological test works & what kind of discounts will I get on it ?</label>
            <div class="tab-content">
              We cover certain test at the start of the plan for which members have to pay zero cost .above that if any of the test required for further investigation then you will be getting upto 30% discount & also home collection in certain cities .
            </div>
          </div>
         
          
        </div>
      </div>
    </div>
    <!-- Hero End -->

    <app-footer></app-footer>
  </div>

  