<!-- Blog start -->
<section  id="blog">
  <div id="services" class="container-fluid text-center">
    <div class="row slideanim">
      <div class="col-sm-3">
        <div class="wc-box rounded text-center wc-box-primary p-4">
          <div class="wc-box-icon">
            <i class="mdi mdi-account"></i>
          </div>
          <h5 class="font-weight-bold mb-2 wc-title mt-4">112+</h5>
          <p class="text-muted mb-0 font-size-15 wc-subtitle">Doctors Team</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="wc-box rounded text-center wc-box-primary p-4">
          <div class="wc-box-icon">
            <i class="mdi mdi-account"></i>
          </div>
          <h5 class="font-weight-bold mb-2 wc-title mt-4">1800+</h5>
          <p class="text-muted mb-0 font-size-15 wc-subtitle">Happy Customers</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="wc-box rounded text-center wc-box-primary p-4">
          <div class="wc-box-icon">
            <i class="mdi mdi-globe"></i>
          </div>
          <h5 class="font-weight-bold mb-2 wc-title mt-4">Pan India</h5>
          <p class="text-muted mb-0 font-size-15 wc-subtitle">Reach</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="wc-box rounded text-center wc-box-primary p-4">
          <div class="wc-box-icon">
            <i class="mdi mdi-account"></i>
          </div>
          <h5 class="font-weight-bold mb-2 wc-title mt-4">2700+</h5>
          <p class="text-muted mb-0 font-size-15 wc-subtitle">Successful Consultation</p>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</section>
<!-- Blog End -->
