<!-- Features Start -->
<section class="section bg-light feather-bg-img" style="background-image: url(assets/images/features-bg-img.png);"
  id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">BEST SERVICES EVER</h3>
          <p class="text-muted font-size-15">We provide all the medical related services.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/images/TDV_M82_03.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> 
            Online Doctor Consultation </p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">All doctor consultation Homeopathy <b> Allopathy</b> & <b>Ayurveda</b></h3>
        <p class="text-muted font-size-15 mb-4">Hasslefree unlimited Consultation with doctor of your choice from stream like allopathy , ayurveda & homeopathy </p>
        <!-- <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="section feather-bg-img" style="background-image: url(assets/images/features-bg-img-1.png)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>
            Diagnostic & pathology          </p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">We have a complete home collection & portable diagnostic facility at home</h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">We provide you a facility to call for any pathological & basic Diagnostic test. </p>
        <!-- <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div> -->
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/Healthcare-market1.gif" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section feather-bg-img" style="background-image: url(assets/images/features-bg-img-1.png)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/ab.jpg" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
      <div class="col-lg-5">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>
            TeleMedicine         </p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Medicines & pharmacy at your doorstep</h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">All kind of Discounted medicine Pharmacy , Ayurveda & homeopathy prescribed by doctor or OTC at your doorstep managed by our house pharmacist</p>
        <!-- <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div> -->
      </div>
      
    </div>
  </div>
</section>
<section class="section feather-bg-img" style="background-image: url(assets/images/features-bg-img-1.png)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>
            Wellness Services         </p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Our Diet & Psychology team will assure a complete wellness for you</h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">To assure your good Health, We do a free consultation with Dietitian & psychologist with a Detailed Designed Diet Chart & Exercise recommendation with free blood collection for psychological test.</p>
        <!-- <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div> -->
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/Anim_Psychology1-5a625b6f9e942700366bb7f0.gif" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features End -->
